p
  label(for="title") Title
  input(name="title", id="title", type="text", value=book.title)
p
  label(for="author") Author
  input(name="author", id="author", type="text", value=book.author)
p
  label(for="genre") Genre
  input(name="genre", id="genre", type="text", value=book.genre)
p
  label(for="first_published") First Published
  input(name="first_published", id="first_published", type="text", value=book.first_published, placeholder="YYYY")
p
  input(type="submit" value=button_text)
