extends ../layout

block content
  h1= title
  p
    a(href="/books/new", class="button") Create New Book
  p Filters 
    a(href="/books?page=1") All 
    | | 
    a(href="/books?page=1&filter=overdue") Overdue 
    | | 
    a(href="/books?page=1&filter=checkedout") Checked Out 
    
  table
    thead
      tr
        th Title
        th Author
        th Genre
        th Year Released
      tr
        th
          input(id="title", type="text", class="search_input_books", value=search_title)
        th
          input(id="author", type="text", class="search_input_books" , value=search_author)
        th
          input(id="genre", type="text", class="search_input_books" , value=search_genre)
        th
          input(id="year", type="text", class="search_input_books" , value=search_year)
    tbody
      each book in books
        tr
          td
            a(href=`/books/${book.id}`)= book.title
          td= book.author 
          td= book.genre
          td= book.first_published
          
    if nb_pages.length > 1
      ul(class="pagination books")
        each num in nb_pages
          li
            if page_num == num + 1
              a(class="active")= num + 1
            else
              a= num + 1
  
