p
  label(for="book_id") Book
  select(id="book_id", name="book_id")
    each book in books
      option(value=`${book.id}`)= book.title
p
  label(for="patron_id") Patron
  select(id="patron_id", name="patron_id")
    each patron in patrons
      option(value=`${patron.id}`) #{patron.first_name} #{patron.last_name}
p
  label(for="loaned_on") Loan on: 
  input(name="loaned_on", id="loaned_on", type="text", value=loaned_on)
p
  label(for="return_by") Return by:
  input(name="return_by", id="return_by", type="text", value=return_by)
p
  input(type="submit" value=button_text)
