extends ../layout

block content
  h1 Patrons
  p
    a(href="/patrons/new", class="button") Create New Patron
    
  table
    thead
      tr
        th Name 
        th Address
        th Email
        th Library ID
        th Zip
      tr
        th
          input(id="patron_name", type="text", class="search_input_patrons", value=patron_name, placeholder="Search for names")
        th
          input(id="patron_address", type="text", class="search_input_patrons", value=patron_address, placeholder="Search for addresses")
        th
          input(id="patron_email", type="text", class="search_input_patrons", value=patron_email, placeholder="Search for emails")
        th
          input(id="patron_library_id", type="text", class="search_input_patrons", value=patron_library_id, placeholder="Search for Lib IDs")
        th
          input(id="patron_zip", type="text", class="search_input_patrons", value=patron_zip, placeholder="Exact zip please...")
    tbody
      each patron in patrons
        tr
          td
            a(href=`/patrons/${patron.id}`) #{patron.first_name} #{patron.last_name}
          td= patron.address 
          td= patron.email
          td= patron.library_id
          td= patron.zip_code
    if nb_pages.length > 1
      ul(class="pagination patrons")
        each num in nb_pages
          li
            if page_num == num + 1
              a(class="active")= num + 1
            else
              a= num + 1
          
